<app-content-body title="Mensa am Ring">
  <h1>Content meiner Seite</h1>
  <mat-card>
    <mat-card-title>Mein Formular</mat-card-title>
    <mat-card-content>
      <form class="my-form" [formGroup]="formGroup">
        <div class="name-input">
          <mat-form-field class="forename-input">
            <mat-label>Vorname</mat-label>
            <input matInput formControlName="forename" />
            <mat-hint>Dein Vorname</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nachnamen</mat-label>
            <input matInput formControlName="surename" />
            <mat-hint>Dein Nachname</mat-hint>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-hint>Deine E-Mail</mat-hint>
          <mat-error>Deine E-Mail ist Mist</mat-error>
        </mat-form-field>
        <button
          (click)="submit()"
          [disabled]="!formGroup.valid"
          mat-raised-button
        >
          Fertig
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</app-content-body>
