.full-site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    flex-grow: 1;
    width: min(600px, 98vw);
  }

  .footer {
    height: 100px;
  }
}
