<div class="full-site">
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span></mat-toolbar
  >
  <div class="content">
    <ng-content></ng-content>
  </div>
  <mat-toolbar class="footer"> <span>Footer</span></mat-toolbar>
</div>
